<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <p class="lead">
          日本語 Flash Cards to help you learn Japanese
        </p>
        <a class="btn btn-primary" ui-sref="cards.list">
          <h6>Lessons</h6>
          <h4>\(^o^)/</h4>
        </a>
        <br><br>
        <a class="btn btn-primary" ui-sref="cards.search">
          <h6>Search</h6>
          <h4>o(o_o)o</h4>
        </a>
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <br>
        <p class="lead">
          わたしはにほんごのべんきょう
        </p>
        <p class="lead">
          がんばります。
        </p>
      </div>
    </div>
  </div>
</section>